@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #fbfbfb;
  --text-color: #f2f2f2;
  --btn-color-1: #b2cbe5;
  --btn-color-2: #ff8f8f;
  --btn-color-3: #80b380;
  --btn-color-4: #8180cb;
  --border-radius: 1.563em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 2vmin);
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  padding: 1.5em 0;
}

header h1 {
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}

header .half-highlight {
  background-image: linear-gradient(to right, transparent 50%, #adcbff 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.5s;
}

header .half-highlight {
  background-position: -100% 100%;
}

/* Section 1 */
.section-1 {
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
}

/* Container */
.section-1 .container {
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.625em;
}

@media only screen and (max-width: 768px) {
  .section-1 .container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}

.section-1 .box {
  background-color: #f7f7f7;
  border-radius: 0.375em;
  height: 8em;
  /* Center btn within a div */
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* Section 2 */
.section-2 {
  margin: 2.4em 0;
  text-align: center;
}

.section-2 article h3 {
  color: #666666;
  font-size: 1rem;
}

.section-2 article p {
  color: #666666;
  font-size: 0.8rem;
  padding: 0.3em 0;
}

.section-2 article a {
  color: #7ebadd;
}

.section-2 article a:hover {
  text-decoration: revert;
}

.section-2 article span {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.1em 0.5em;
}

/* Section 3 */
.section-3 {
  margin: 1.4em auto;
  text-align: center;
}

.section-3 h3 {
  color: #191919;
  padding-bottom: 0.6em;
}

.section-3 li {
  list-style: none;
  padding-bottom: 0.3em;
}

.section-3 li a {
  color: #a5a5a5;
}

/* Footer */
footer {
  margin: 2.4em auto;
  text-align: center;
}

footer p {
  color: #666666;
}

footer a {
  color: #7ebadd;
  font-size: 0.9rem;
  padding-top: 0.3em;
  text-transform: uppercase;
}

footer a:hover {
  text-decoration: revert;
}
